#SDHandHold {
    margin: 0px;
    color: white;
    background-color: black;
    display: block;
    width: 300px;
    height: 100px;
}

.SDHandHoldIcon {
    margin: 0px; 
    position: relative;
    float: left;
    
}
.SDHandHoldIcon img {
    width: 20px; 
    margin: 0px;
}

.SDHandHoldName {
    margin: 0px;
}

.SDHandHoldControls {
    display: flex;
    justify-content: space-around;
}
