#memberDisplay {
    display: flex;
    border: solid;
    border-width: 1px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#memberDisplay a {
    width: 88px;
    height: 31px;
}