#memberDisplay {
    display: flex;
    border: 1px solid;
    width: fit-content;
    max-width: 500px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#memberDisplay a {
    width: 88px;
    height: 31px;
}

code {
    border: 1px solid;
    display: block;
    width: 500px;
    font-family: monospace;
}