#memberDisplay {
    display: flex;
    flex-direction: column;
}

.memberContainer {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;

    border-style: solid;
    width: 50%;
}

.siteName {
    display: flex;
    flex-direction: column;

}
.siteName img {
    max-width: 81px;
}

.siteName, .siteWebmaster {
    border-right: solid;
    width: 120px;
}

.siteRating {
    display: none;
}